################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BillScanningXTests/bin/Debug/netcoreapp2.1
/BillScanningXTests/obj
/BillScanningView/obj
/BillScanningModel/obj/Debug/netstandard2.0
/BillScanning/bin
/BillScanning/obj/Debug/netcoreapp2.1
/BillScanningModel/bin/Debug/netstandard2.0
/BillScanning/obj
/BillScanningModel/obj
/.vs
/BillScanningView/bin/Debug/netcoreapp2.1
BillScanning/bin/Release/netcoreapp2.1/BillScanningController.dll
BillScanning/bin/Release/netcoreapp2.1/BillScanningController.pdb
BillScanningView/wwwroot/images/.DS_Store
BillScanningView/.DS_Store
BillScanningView/wwwroot/.DS_Store
BillScanning/.DS_Store
.DS_Store
.vscode
