@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>
<form action="/" method="get" autocomplete="on" target="hiddenFrame">
    <label class="image-to-scan">
        <div class="rect-container"></div>
        <input name="file" type="file" onchange="onFileChange(this);" autofocus required />
        <img class="background-img" src="/images/default.jpg" /img>
    </label>
</form>
