body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}
.image-to-scan {
    width: 100%;
    height: 100vh;
}
.image-to-scan > input {
    display: none;
}
    .image-to-scan > .background-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
.rect-container {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
}
.rect-container > .rect {
    position: absolute;
    margin-left: 0;
    margin-top: 0;
}
.rect-container > .rect.selected {
    border: 1px solid blue;
}
.rect-container > .rect:not(.selected) {
    border: 1px solid black;
}